---
import Layout from '../layout/index.astro';
---

<Layout title="Not found">
    <h1>Not found.</h1>
    <p class="h4">
        There's really not a lot here to see.
    </p>
    <p>
        <a href="/">Go home</a>.
    </p>
</Layout>
