@import '_vars';
@import 'bootstrap/scss/root';

@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';

body {
    font-family: 'Heebo', 'Open Sans', Helvetica, Arial, sans-serif;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'HeeboVariable', 'Open Sans', Helvetica, Arial, sans-serif;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    color: $primary;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
