---
import { Container } from 'react-bootstrap';
import '@fontsource/heebo/400.css';
import '@fontsource/heebo/600.css';
import '@fontsource/heebo/900.css';
import "@fontsource/heebo/variable.css";

import './global.scss';
import styles from './layout.module.scss';

const { title } = Astro.props;
---

<html lang="en">
<head>
    <title>{title || "Hi, I'm Nick Narsing."}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm a full-stack web developer based in Portland, Oregon. I go by soren121 on the web.">
</head>
<body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJRZH1SS65"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YJRZH1SS65');
    </script>

    <Container className={styles.layoutContainer}>
        <slot />
    </Container>
</body>
</html>
