---
import { Container } from 'react-bootstrap';
import '@fontsource/heebo/400.css';
import '@fontsource/heebo/600.css';
import '@fontsource/heebo/900.css';

import './bootstrap.scss';
import styles from './layout.module.scss';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
<head>
    <title>{title || "Hi, I'm Nick Narsing."}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <Container className={styles.layoutContainer}>
        <slot />
    </Container>
</body>
</html>
