---
import { Container } from 'react-bootstrap';
import '@fontsource/heebo/400.css';
import '@fontsource/heebo/600.css';
import '@fontsource/heebo/900.css';

import './bootstrap.scss';
import styles from './layout.module.scss';

const { title } = Astro.props;
---

<html>
<head>
    <title>{title || "Hi, I'm Nick Narsing."}</title>
</head>
<body>
    <Container className={styles.layoutContainer}>
        <slot />
    </Container>
</body>
</html>
